ctransformers
flask
sentence-transformers
pinecone
python-dotenv
gunicorn
flask-cors
langchain

transformers
torch
accelerate
bitsandbytes

google-generativeai
flask
gunicorn
pinecone-client

sqlalchemy
psycopg2-binary
